<!--The content below is only a placeholder and can be replaced.-->
<div class="container_home">
  <div class="content_view">
    <h2>
      {{ title }}
    </h2>
    <div class="col-12 content_boxes">
      <div class="col-6 border_counter">
        <app-counter (complete) = startMap($event)></app-counter>
      </div>
      <div class="col-6">
        <app-map
        [lat] = "latitudeNumber"
        [lng] = "longitudeNumber"
        [zoom] = "zoom"
        >
      </app-map>
      </div>
    </div>
  </div>
</div>
